@import "_variate";

.van-tabs__nav{
  width: 500rpx;
  margin: 0 auto;
  .van-tab{
    font-size: 36rpx;
    color: #999;
  }
  .van-tab--active{
    color: #333;
  }
}
.van-tabs__line{
  background-color: @theme !important;
}
.van-hairline--bottom:after,
.van-hairline--left:after,
.van-hairline--right:after,
.van-hairline--surround:after,
.van-hairline--top-bottom:after,
.van-hairline--top:after,
.van-hairline:after{
  border: 0 !important;
}
