@import "./_variate.less";
@import "./_common.less";
@import "./_mixin.less";

// 间距相关
.mt10{
  margin-top: 10rpx;
}
.mt20{
  margin-top: 20rpx;
}
.mt30{
  margin-top: 30rpx;
}
.mt50{
  margin-top: 50rpx;
}
.mt100{
  margin-top: 100rpx;
}
.w-50{
  width: 50%;
}
.w-100{
  width: 100%;
}
// 文字相关
.fs12 {
  font-size: 12px;
}
.c-red {
  color: #EC5F5F !important;
}

.c-green {
  color: #00CFAD !important;
}

.c-blue {
  color: #4a90e2 !important;
}
.c-333 {
  color: #333;
}

.c-666 {
  color: #666;
}

.c-999 {
  color: #999;
}
.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}
